h1 {
    font-size: 80px;
    font-family: Impact;
    margin-top: 53.6px;
    margin-bottom: 53.6px;
}

p {
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: "Times New Roman", Times, serif;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    cursor: default !important;
}

button:hover {
    background-color: green;
}